
.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.main-content {
  margin-top: 180px; /* Remove any default margins */
  padding-top: 0;
  padding-left: 0;
}

/* Ensure InputForm stretches properly */


body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f5f0cb;
  color: rgb(81, 53, 36);
}

/* Navbar styles */




/* Main content styles */










